<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="Admin.css">
</head>

<body>

    <div class="container">
        <div class="card">

            <div class="logo">MFU</div>

            <h2>Admin Login</h2>

            <div class="toggle">
                <button onclick="goVoter()">Voter</button>
                <button onclick="goCandidate()">Candidate</button>
                <button class="active">Admin</button>
            </div>

            <input id="user" placeholder="Username">
            <input id="adminID" placeholder="Admin ID">
            <input id="pass" type="password" placeholder="Password">

            <button class="main-btn" onclick="login()">Login</button>

            <hr style="margin:20px 0;">

            <h3>Create Candidate ID</h3>
            <input id="newID" placeholder="New Candidate ID">
            <button class="main-btn" onclick="createID()">Create</button>

        </div>
    </div>

    <script src="Admin.js"></script>
</body>

</html>