<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Dashboard-Policy.css">
    <title>Vote</title>
</head>

<body>

    <div class="navbar">
        <h2>🗳️ Voting</h2>
        <div class="nav-links">
            <a href="Dashboard-Profile.html">Profile</a>
            <a href="Dashboard-Policy.html" class="active">Vote</a>
            <a href="Dashboard-History.html">History</a>
            <a href="#" class="logout" onclick="logout()">Logout</a>
        </div>
    </div>

    <div class="container">

        <div class="grid" id="candidateList"></div>

    </div>

    <!-- POPUP -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <h3 id="modalTitle"></h3>
            <img id="modalImg" />
            <p id="modalPolicy"></p>
            <button onclick="closeModal()">Close</button>
        </div>
    </div>

    <script src="Dashboard-Policy.js"></script>
</body>

</html>